<div class="user-details">
  <h1> About Me </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Libraries</h2>
      <i class="iconify" data-icon="logos-pytorch" data-inline="false"></i>
      <i class="iconify" data-icon="logos-tensorflow" data-inline="false"></i>
      <img src="{{ "/assets/img/sklearn.png" | prepend: site.baseurl }}" />
      <img src="{{ "/assets/img/opencv.png" | prepend: site.baseurl }}" />
      <p>As a beginner I started my journey with sklearn for Machine Learning. Then I got introduce to Tensorflow,Keras and Pytorch Deep Learning Frameworks.</p>
    </div>

    <div class="tech">
      <h2> Languages</h2>
      <i class="devicon-c-plain-wordmark colored"></i>
      <i class="devicon-python-plain-wordmark"></i>
      <i class="devicon-mysql-plain colored"></i>
      <i class="devicon-java-plain colored"></i>
      <i class="devicon-html5-plain colored"></i>
      <p> I am quite proficient in Python and use it for general purpose. And C is like my college love which I didn't understand in those days. But now I know it's importance. For Database purposes I rely on MySql.And For Web developement I use HTML,CSS and JavaScript.</p>
    </div>

    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-git-plain"></i>
      <i class="devicon-visualstudio-plain colored"></i>
      <i class="devicon-vim-plain colored"></i>
      <p>These tools I use all the time in every project. VSCode is now so much easy to use because of the extensions and For version control I use git.</p>
    </div>
</div>
<script src="https://code.iconify.design/1/1.0.4/iconify.min.js"></script>