<!--<div class="user-details">
    <h1> Blogs Posts </h1>
  </div>
  <div class="user-blogs">
    <div class="images-right">
      <h3> Blog Title </h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      <a class="blog-link" href="#">Check it out</a>
    </div>
    <div class="contents-left">
      <h3> Blog Title </h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      <a class="blog-link" href="#">Check it out</a>
    </div>
  </div>
  <div class="user-blogs">
    <div class="images-left">
      <h3> Blog Title </h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      <a class="blog-link" href="#">Check it out</a>
    </div>
    <div class="contents-right">
      <h3> Blog Title </h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      <a class="blog-link" href="#">Check it out</a>
    </div>
  </div>-->

<div class="user-details">
    <h1>Blogs</h1>
</div>
<div class="user-projects">

    <ul class="cards">
        <li class="cards_item">
        <div class="card">
            <div class="card_image"><img src="https://picsum.photos/500/300/?image=10"></div>
            <div class="card_content">
            <h2 class="card_title">How To Install Anaconda</h2>
            <p class="card_text">A famous tool widely used in Data Science Field. How to install it?</p>
            <button class="btn card_btn">Read More</button>
            </div>
        </div>
        </li>
        <li class="cards_item">
        <div class="card">
            <div class="card_image"><img src="https://picsum.photos/500/300/?image=5"></div>
            <div class="card_content">
            <h2 class="card_title">Fundamentals of OpenCV Part 1</h2>
            <p class="card_text">Demo of pixel perfect pure CSS simple responsive card grid layout</p>
            <button class="btn card_btn">Read More</button>
            </div>
        </div>
        </li>
        <li class="cards_item">
        <div class="card">
            <div class="card_image"><img src="https://picsum.photos/500/300/?image=11"></div>
            <div class="card_content">
            <h2 class="card_title">Fundamentals of OpenCV Part 2</h2>
            <p class="card_text">Demo of pixel perfect pure CSS simple responsive card grid layout</p>
            <button class="btn card_btn">Read More</button>
            </div>
        </div>
        </li>
    </ul>
</div>
