<div class="user-details">
  <h1> Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <h3> Diabetes Detection and Suggest Nutrition</h3>
    <p>An android app which tells users if they have diabetes or not based on some questions and suggest Diet as well as Exercise accordingliy</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
  <div class="contents-left">
    <h3> Video Classifier </h3>
    <p>This Project is inspired from adrian rosebrook(OpenCV Guru).This project classifies what sport is being played in the video.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <h3> Bakery Sales Prediction</h3>
    <p>Using Time Series Analysis a subdomain of Machine Learning is used to predict the sales of any bakery product.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
  <div class="contents-right">
    <h3> Aspect Based Sentiment Analysis</h3>
    <p>The working is similar to Sentiment Analysis but just adding some extra features you can tell the sentiment of particular aspect of any product.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>